[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	postBuffer = 524288000
	maxRequestBuffer = 100M
[core]
	compression = 0
	bigFileThreshold = 100m
[pack]
	packSizeLimit = 100m
[user]
	name = Padre José
	email = your-email@example.com
